body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#header {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

#container {
  position: relative;
  height: 80vh;
  width: 60%;
  border: 5px solid black;
  background-color: #fafdff;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  overflow: hidden;
}

#player {
  position: absolute;
  height: 66px;
  width: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  left: calc(50% - 33px);
  bottom: 99px;
}

.wall {
  position: absolute;
  height: 33px;
  width: 35%;
  background-color: black;
  top: -33px;
}

#wall_1 {
  left: 0;
}

#wall_2 {
  right: 0;
}

#restart {
  font-size: 18pt;
  text-decoration: none;
  color: black
}
